
exercise 2/\.Rhistory

exercise 2/\.Rproj\.user/3BC71F00/pcs/files-pane\.pper

exercise 2/\.Rproj\.user/3BC71F00/pcs/source-pane\.pper

exercise 2/\.Rproj\.user/3BC71F00/pcs/windowlayoutstate\.pper

exercise 2/\.Rproj\.user/3BC71F00/pcs/workbench-pane\.pper

exercise 2/\.Rproj\.user/3BC71F00/rmd-outputs

exercise 2/\.Rproj\.user/3BC71F00/saved_source_markers

exercise 2/\.Rproj\.user/3BC71F00/sources/per/t/A3A4CED0

exercise 2/\.Rproj\.user/3BC71F00/sources/per/t/A3A4CED0-contents

exercise 2/\.Rproj\.user/3BC71F00/sources/prop/85FBDFF2

exercise 2/\.Rproj\.user/3BC71F00/sources/prop/INDEX

exercise 2/\.Rproj\.user/shared/notebooks/7AC89736-exercise_2/1/3BC71F003A91449/chunks\.json

exercise 2/\.Rproj\.user/shared/notebooks/7AC89736-exercise_2/1/3BC71F00AC28D68B/chunks\.json

exercise 2/\.Rproj\.user/shared/notebooks/7AC89736-exercise_2/1/s/chunks\.json

exercise 2/\.Rproj\.user/shared/notebooks/7AC89736-exercise_2/1/s/cwg880vozqfq5/000002\.csv

exercise 2/\.Rproj\.user/shared/notebooks/7AC89736-exercise_2/1/s/cwg880vozqfq5/000003\.metadata

exercise 2/\.Rproj\.user/shared/notebooks/7AC89736-exercise_2/1/s/cwg880vozqfq5/000003\.png

exercise 2/\.Rproj\.user/shared/notebooks/7AC89736-exercise_2/1/s/cwg880vozqfq5/000003\.snapshot

exercise 2/\.Rproj\.user/shared/notebooks/7AC89736-exercise_2/1/s/cwk6nsn7yba4r/000002\.csv

exercise 2/\.Rproj\.user/shared/notebooks/patch-chunk-names

exercise 2/\.Rproj\.user/shared/notebooks/paths

exercise 2/\.RData
